<!DOCTYPE html>
<html>
    <head>
        <title>Newground</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
    <body>
        <div>
            <div class="jumbotron">
                <h1 class="display-4">NEWGROUND</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-primary btn-lg" href="#forms" role="button">Get started</a>
                <a class="btn btn-primary btn-lg" href="#about" role="button">About us</a>
            </div>
        </div>
        <div id=about>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">About us</h1>
                    <p class="lead">Newground is a smart software tool that assists businesses in determining where profitable locations are. Newground uses real 
                        data from real people to provide the most accurate information, so that businneses and consumers stay happy.<datagrid></datagrid></p>
                </div>
            </div>
        </div>
        <center>
        <div id=forms>
            <form method="POST" action="" enctype="multipart/form-data">
                <input name="val1">
                <input name="max-val">
                <input type="submit" value="submit">
            </form>
        </div>
        <div>
            <form method="POST" action="" enctype="multipart/form-data">
                <input name="val1">
                <input type="submit" value="submit">
            </form>
        </div>
        <div>
            <form method="POST" action="" enctype="multipart/form-data">
                <input name="val1">
                <input type="submit" value="submit">
            </form>
        </div>
                        
        <table class="table" id="income">
            <thead>
            <tr>
                <th>zipcode</th>
                <th>exp income</th>
            </tr>
            </thead>
            <tbody>
            {% for name, row in x.iterrows() %}
            <tr>
                <td>{{ row.zip }}</td>
                <td>{{ row.balance }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </center>
    </body>
          
</html>
